<style>
.form1 {
    float: left;
    padding-right:8px;
}
.textarea {
    resize: none;
}
</style>

{% extends "layout.html" %}
{% block body %}
    <form class=form1 action="{{ url_for('redirect_to_main') }}" method=get class=redirect-to-main>
        <input class=btn1 type=submit value='Main Page'>
    </form>
    <form class=form1 action="{{ url_for('redirect_to_graphs2') }}" method=get class=redirect-to-graphs2>
        <input class=btn1 type=submit value='Graph Page'>
    </form>
    <div>
        <dt>&nbsp;
        <dt>&nbsp;
    </div>
    <form action="{{ url_for('send_an_email') }}" method=post class=send-an-email>
      <dl>
        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address:
        <dd><textarea class=textarea onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" name=text rows=1 cols=50></textarea>
        <dd><input class=btn1 type=submit value=Email></dd>  
        <dt>&nbsp;
        <dt>&nbsp;
      <dl>
    </form>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in get_flashed_messages() %}
            <div class=flash>Email Sent!</div>
        {% endfor %}
      {% endif %}
    {% endwith %} 
{% endblock %}