{% extends "layout.html" %}
{% block body %}
   <!-- On ENTER should submit instead of newline in textbox -->
    <form action="{{ url_for('redirect_to_summary_graphs') }}" method=post class=get-job-graphs>
      <dl>
        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Job ID:
        <dd><textarea name=text rows=1 cols=50></textarea>
        <dd><input type=submit value=submit>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}  
        <dt>&nbsp;
        <dt>&nbsp;
      <dl>
    </form>
    </form>
{% endblock %}


