<!DOCTYPE html>
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
body {
    margin: 0;
    background-color: #333;
}

.image {
    display: block;
    margin: 2em auto;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

img {
    display: block;
}
.wrapper {
    text-align: center;
}
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="http://luis-almeida.github.io/unveil/jquery.unveil.min.js" charset="utf-8"></script>
    <script>
$(document).ready(function() {
    $('img').unveil(1000);
});
    </script>

</head>
<body>
    {% if session.logged_in %}
        {% block body %}
<!--             <a class="jobid" href="{{ jobid.src }}">
                <h1>{{ jobid }}</h1>
            </a> -->
            <h1>Jobid {{ jobid }}</h1>

            <form action="{{ url_for('redirect_to_blog') }}" method=post class=redirect-to-blog>
              <div>
                <input type=submit value='Main Page'>
                <dt>&nbsp;
              </div>
            </form>

            <form action="{{ url_for('graph_selection') }}" method=post class=graph-selection>
              <div class="wrapper">
                <button type=submit name='action' value='all'>Aggregate</button>
                <button type=submit name='action' value='avg'>Average</button>
                <button type=submit name='action' value='cpu'>CPU Used</button>
                <button type=submit name='action' value='mem_free'>Memory Used</button>
                <button type=submit name='action' value='bytes_in'>Network In</button>
                <button type=submit name='action' value='bytes_out'>Network Out</button>
              </div>
<!--               <dd><input type=submit name='action' value='all'>
              <dd><input type=submit name='action' value='avg'>
              <dd><input type=submit name='action' value='cpu'>
              <dd><input type=submit name='action' value='mem_free'>
              <dd><input type=submit name='action' value='bytes_in'>
              <dd><input type=submit name='action' value='bytes_out'> -->
            </form>
        {% endblock %}
        {% for image in images %}
            <a class="image" href="{{ image.src }}" style="width: {{ image.width }}px; height: {{ image.height }}px">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src }}?w={{ image.width }}&amp;h={{ image.height }}" width="{{ image.width }}" height="{{ image.height }}" />
            </a>
        {% endfor %}
    {% endif %}
</body>