{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('redirect_to_blog') }}" method=post class=redirect-to-blog>
      <dl>
        <dd><input type=submit value=Main>
        <dt>&nbsp;
        <dt>&nbsp;
        <!-- <dt>Rendered! -->
        <!-- <area shape="rect" alt="Speed4" href="speed4.png"> -->
 <!--        <img src={{ url_for('static', filename = 'speed4.png') }} alt="Speed4" height="140" width="497"> 
        <img src={{ url_for('static', filename = 'temp.png') }} alt="temp" height="215" width="497">  -->
        <img src={{ url_for('static', filename = 'plots/519035/cpu_used_all_0.png') }} alt="temp"> 
        <link rel="stylesheet" href="/static/css/reset.css?q=1280549780"
              type="text/css" media="screen" charset="utf-8" />
        <dt>&nbsp;
        <dt>&nbsp;
      <dl>
    </form>
    <form action="{{ url_for('send_an_email') }}" method=post class=send-an-email>
      <dl>
        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address:
        <dd><textarea name=text rows=1 cols=50></textarea>
        <dd><input type=submit value=email>  
        <dt>&nbsp;
        <dt>&nbsp;
      <dl>
    </form>
  {% endif %}
{% endblock %}