{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<!--    <form action="{{ url_for('redirect_to_graphs') }}" method=post class=redirect-to-graphs>
      <dl>
        <dd><input type=submit value=Graphs> 
      <dl>
   </form> -->

   <!-- On ENTER should submit instead of newline in textbox -->

   <form action="{{ url_for('redirect_to_summary_graphs') }}" method=post class=get-job-graphs>
      <dl>
        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Job ID:
        <dd><textarea name=text rows=1 cols=50></textarea>
        <dd><input type=submit value=submit>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}  
        <dt>&nbsp;
        <dt>&nbsp;
      <dl>
    </form>
  {% endif %}
{% endblock %}



 <!--    <form action="{{ url_for('redirect_to_all_graphs') }}" method=post class=redirect-to-all-graphs>
      <dl>
        <dd><input type=submit value=Graphs2> 
      <dl>
    </form> -->
